* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}

body {
    background-image: url(https://assets.adnradio.cl/2020/05/Uber-Eats-1-e1590709851475-925x470.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


nav {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px black;

}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal>li>a {
    display: block;
    padding: 15px 20px;
    color: whitesmoke;
    text-decoration: none;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}

h1 {
    color: white;
}

#formularioUsuarios {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 25vw;
    height: 50vh;
    background-color: rgb(193, 155, 29, 0.874);
}

label {
    margin: 30px;
}

#nombre {
    margin-top: 30px;
}

#email {
    margin-left: 11px;
}

#domicilio {
    margin-left: -12px;
}

#nota {
    margin:10px 1px;
    height: 25vh;
    width: 20vw;
}



.enviar {
    margin: 10px 180px;
}

footer {
    bottom: 0;
}

p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}