@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}
body{
    background-image: url(../img/burger.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
nav{ 
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px black;
    
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: rgb(163, 80, 1);
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color:rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}

#html{
    margin: auto;
    padding: 20px;
    max-width: 900px;
    background: white;

}

#searchbox {
    width: 50%;
    margin: auto;
    }

#searchbox input,button{
        width: 75%;
        border: 2px solid white;
        font-size: 18px;
        padding: 12px;
        background: transparent;
        color: white;
    }

#search button:hover{
    opacity: .8;
}

#search input:hover{
    opacity: .8;
}