@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}

body {
    background-image: url(../img2/burger.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

nav {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px black;

}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal>li>a {
    display: block;
    padding: 15px 20px;
    color: whitesmoke;
    text-decoration: none;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}


/*Comienza estilo de MAIN*/

.video_main{
    width: 100vw;
    height:95vh;
  
   
    }

.menu_burgers {
    display: flex;
    justify-content:flex-start;
    margin:30px 10px;
    width: 20vw;
 

}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
    padding: 15px;

}

.producto-precio {
    display: flex;
    align-items: center;
}

.precio
{ 
    display: flex;
justify-content: flex-end;
  margin-left: 12em;
}

.ham,
.description {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
}

h2 {
    padding: 0.8em;
    width: 20vw;
}


.full-maquina,
.cheddar,
.clasica {
    border: 2px solid #a7a7a7;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.874);
    width: 30vw;
}

.agregar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    background-color: rgb(193, 155, 29);
    color: rgb(255, 255, 255);
    border: none;
    font-size: medium;
    padding: 10px;
    margin-bottom: 10px;
    
    

    


}

/*Menu Hamburguesa
li.menu-item a:hover,
li.menu-item.active{
    background: rgb(193, 155, 29);
    transition: background-color 0.3s;
}*/


@media screen and (min-width: 320px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu-horizontal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
       

    }

    .video_main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95vw;
        height: 100%;
        margin: 4px;
        min-height: 100%;
        min-height: 100%;
    }

    .menu_burgers {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 95vw;
        
       

    }

.full-maquina,
.cheddar,
.clasica {
    border: 2px solid #a7a7a7;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.874);
    width: 90vw;
}

.precio
{ 
    display: flex;
justify-content: space-evenly;
  width:5vw;
}

.ham,
.description {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
}


.cheese,
.classic {
    width: 80vw;
    height: 60vh;
    padding-left:5em;
}
.burgerfull{
    width:90vw;
    height: 50vh;
    padding: 20px 5em;
}
.agregar {
    font-display: flex;
    justify-content:flex-end;
    align-items: flex-end;
   
    
    
   
   
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    * {
        margin: 0;
        padding: 0;
    }

   

.video_main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin: 4px;
    min-height: 100%;

}

    .menu_burgers {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        margin:4px;
        width: 100vw;

    }

    .full-maquina,.cheddar,
    .clasica{
        display: flex;
       margin: 4px;
    }

    .full{
        width: 30vw;
        height:10vh;
    }

    .cheese{
        width:100vw;
        height: 30vh;
    }

    .classic{
        width: 30vw;
    }
    


    
    .producto-precio {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 30vw;
        height: 30vh;
    }

    .precio{
      margin-left: 80px;
    }
 .hamb1,  
.hamb2,
.hamb3{
    align-items: center;
    margin-left: 30px;

}

    .ingredientes p{
       display: flex;
       justify-content: flex-start;
       margin: 20px;
    }
    
    h2 {
        flex-wrap: wrap;
        width: 40vw;
    }

    .agregar {
        display: flex;
        flex-wrap: wrap;
       justify-content: flex-end;
       align-items: flex-end;
        padding: 10px;
        
}
}


@media screen and (min-width: 1025px) and (max-width: 1600px){
.video_main{
    width: 100vw;
    height:95vh;
   margin-top: 30px;
   
    }

    .menu_burgers {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100vw;
        height: 80vh;
        
       

    }

.full-maquina,
.cheddar,
.clasica {
    border: 2px solid #a7a7a7;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.874);
    width: 30vw;
    height: 75vh;
}

.precio
{ 
    display: flex;
justify-content: space-evenly;
  width:45vw;
}

.ham,
.description {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
}


.cheese,
.classic {
    width: 25vw;
    height: 40vh;
    margin-left:30px;
    }

    .burgerfull{
        width:25vw;
        height:35vh ;
        margin: 15px;
    }

}
.agregar {
    font-display: flex;
    justify-content:flex-end;
    align-items: flex-end;
   
    
    
   
   

}